# Dependencies
/node_modules
/.pnp
.pnp.js

# Build/runtime artifacts
/dist
/build
/tmp
/.bin
coverage

# Secrets / local environment
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Misc
.DS_Store
.temp
.tmp
